:root {
  --primary-text-color: #212121;
  --primary-accent-color: #ac7088;
  --background-color-left: #f2d7d9;
  --background-color-right: #f9f9f9;
  --background-color-footer: #ac7088;
  --title-text: #664c46;
}

/* General */

body {
  background-color: var(--background-color-right);
  color: var(--primary-text-color);
  font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  letter-spacing: 0.03em;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-bottom: 50px;
}
.column-left {
  background-color: var(--background-color-left);
  padding: 0 20px;
}

.column-right {
  padding: 0 20px;
}

h3 {
  font-size: 40px;
  font-family: Dancing Script, sans-serif;
  color: var(--title-text);
}

h2 {
  margin-bottom: 15px;
}

/* Header */

.header__text {
  text-align: center;
  padding-bottom: 30px;
  background-color: var(--background-color-left);
}

.header::before {
  position: absolute;
  top: -5%;
  left: -10%;
  display: inline-block;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
  opacity: 70%;
}

.header__title {
  font-family: Dancing Script, sans-serif;
  color: var(--primary-accent-color);
  font-size: 50px;
  margin-bottom: 15px;
}

figure {
  padding: 20px 0 20px 0;
  margin: 0;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 15px solid var(--background-color-right);
  margin: 0 auto 0 auto;
}

.profile-picture__avatar {
  z-index: 2;
  position: relative;
}

.profile-picture__avatar::after {
  position: absolute;
  top: 10%;
  left: 70%;
  display: inline-block;
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
  opacity: 70%;
}

/* Footer */

.footer {
  background-color: var(--background-color-left);
  opacity: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer__copyright {
  color: var(--title-text);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  max-width: 400px;
}

/* Contacts */

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__icon {
  fill: var(--primary-accent-color);
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__text {
  font-size: 18px;
}

/*  Skills  */

.skills__item:not(:last-child) {
  margin-bottom: 10px;
}

/* Languages */
.languages {
  padding-bottom: 50px;
}
.language__item:not(:last-child) {
  margin-bottom: 10px;
}

/*  About me */

/*  Education  */
.education__item:not(:last-child) {
  margin-bottom: 15px;
}

.education__text {
  margin-bottom: 5px;
}

/*  Projects */

.projects__sub-title {
  margin-bottom: 5px;
  color: var(--title-text);
  font-weight: 600;
  font-size: 15px;
}
.projects__sub-text {
  margin-bottom: 5px;
  color: var(--primary-accent-color);
  font-weight: 600;
  font-size: 14px;
}
.projects__item:not(:last-child) {
  margin-bottom: 20px;
}
.projects__link {
  margin-right: 15px;
  font-weight: 600;
  color: var(--title-text);
  font-size: 14px;
}
.projects__span {
  color: var(--primary-accent-color);
  font-weight: 600;
}
.projects__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*   Adaptive Layout   */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

  .header__text {
    background-color: var(--background-color-left);
  }

  .header::before {
    top: -8%;
    left: -5%;
    width: 250px;
    height: 250px;
  }

  .profile-picture__avatar::after {
    top: 5%;
    left: 60%;
    width: 95px;
    height: 95px;
  }

  .projects__sub-title {
    font-size: 18px;
  }

  .projects__sub-text {
    font-size: 18px;
  }

  .projects__link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  figure {
    padding: 50px 0 50px 0;
  }

  .main {
    display: flex;
  }

  .container {
    width: 768px;
  }

  .header__text {
    background-color: var(--background-color-right);
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .header__title {
    font-size: 58px;
  }

  .header::before {
    width: 250px;
    height: 250px;
    top: -20%;
    left: -10%;
  }

  .profile-picture__avatar::after {
    width: 80px;
    height: 80px;
    top: 12%;
    left: 70%;
  }

  .column-left {
    width: 40%;
    padding: 0 30px 0 30px;
  }

  .column-right {
    width: 60%;
    padding: 0 30px 0 30px;
  }

  .languages {
    padding-bottom: 0;
  }

  .contacts__link {
    font-size: 15px;
  }

  .skills__item {
    font-size: 15px;
  }

  .language__item {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .column-left {
    padding: 0 70px 0 50px;
  }

  .column-right {
    padding: 0 70px 0 50px;
  }

  .profile-picture {
    width: 250px;
    height: 250px;
  }

  .header::before {
    width: 300px;
    height: 300px;
    top: -20%;
    left: -8%;
  }

  .profile-picture__avatar::after {
    width: 110px;
    height: 110px;
    top: 10%;
    left: 65%;
  }

  .header__title {
    font-size: 70px;
  }

  .contacts__link {
    font-size: 18px;
  }

  .skills__item {
    font-size: 18px;
  }

  .language__item {
    font-size: 18px;
  }
}
